body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: #333333;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  }

/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3a8ae3;
}



.active {
  background-color: #e5c185;
}

.navLastLi{
  float: right;
}

.navProfile{
  font-size: 12px;
  float:left;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.imgNavProfile{
  width: 30px;
  margin:5px;
}

/*end navbar*/

.leftSize {
    float:left;
}

.rightSize {
    float: right;
    width: 200px;
}
  .left{
    width: 100px;
    float: left;
  }

thead th {
  position: sticky;
  width:3px;
  padding: 2px;
  color: #d7e9f7;
  top: 0;
  z-index: 2;
  background: #3a8ae3;
}

/* Schedule */

.schedule{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

/*Header*/

.scheduleHeader{
  font-size: 13px;
  text-align: center;
  background: #3a8ae3;
  color: #d7e9f7;
  padding: 2px;
}

.scheduleHeader th:first-child{
  border-top-left-radius: 5px;
}

.scheduleHeader th:last-child{
  border-top-right-radius: 5px;
}

.thDays {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.thMonth {
  width: 250px;
}

.thDetails{
  width: 55px;
  height: 26px;
  justify-content: center;
  margin: 1px;
}

.trDays{
  float: left;
  display: inline;
}

.thDaysOfWeek {
  text-align: center;
}

.weekDay{
  width: 27px;
  height: 27px;
  background: #d7e9f7;
  color: #3a8ae3;
  font-size: 10px;
  text-align: center;
}

.thFulName{
  width:149px;
  margin: 1px;
}

.thPosition{
  width: 49px;
  margin:1px;
}

/*Body*/
.scheduleBody{
  background: #efe2e2;
  color: #333333;
  font-size: 13px;
  height: 25px;
}

.tdFulName{
  width:149px;
  margin: 1px;
  padding-left: 5px;

}

.tdPosition{
  width: 49px;
  margin:1px;
  padding-left: 5px;
}

.tdDetails{
  width: 55px;
  height: 25px;
  justify-content: center;
  margin: 1px;
  font-size: 12px;
  text-align: center;
}

/*Buttons*/
.tdButtonEmpty{
  width:27px;
  height:27px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  padding: 0;
  border: 0;
}

.tdButtonEmpty:hover{
  background: #333333;
  color: #efe2e2;
}

.tdButtonMorning{
  background: #fbbe00;
  color:#333333;
  width:27px;
  height:27px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  padding: 0;
  border: 0;
}

.tdButtonMorning:hover{
  background: #ff8d00;
  color: #333333;
}

.tdButtonAfternoon{
  width:27px;
  height:27px;
  background: #3e6fd6;
  color: #efe2e2;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  padding: 0;
  border: 0;
}
.tdButtonAfternoon:hover{
  background: #1450a3;
  color: #efe2e2;
}

/**/


/*End of Schedule*/

/*Add Schedule form*/
.openAddSchedule {
  background: #efe2e2;
  width:200px;
  height: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-top:10px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.topLine{
  background: #333333;
  width: 200px;
  height:50px;
  color: #bbbbbb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
}

.scheduleTitle{
  text-align: center;
  margin:15px;
  font-weight: bold;
  font-size: 20px;
}

.formSchedule{
  padding: 10px;
}

.employeeDateSchedule{
  height: 100px;
}

.addScheduleEmployee{
  text-align: center;
  font-size:17px;
  padding-top:15px;
  font-weight: bold;
}

.addScheduleDate{
  float:right;
  margin-left: auto;
  padding:10px;
  font-size: 15px;
}

/*And of Schedule*/

.time{
  width: 100px;
  display: flex;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.timeHours{
  width:45px;
  height:20px;
  font-size: 17px;
  font-family: 'Orbitron', sans-serif;
  padding: 0;
}

.timeMinutes{
  width:40px;
  height:15px;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  padding: 0;
}

.openEmployee{
  font-size: 10px;
}

/* index profile */

.profile{
  display: inline;
  float: left;
  text-align: left;
  font-size: 20px;
}

.profileCard{
  background: #f4f4f4;
  float: left;
  width: 300px;
  margin: 25px;
  border: 20px #020d13;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.profileTitle{
  background: #2c3a47;
  color: #f4f6f7;
  height: 150px;
  text-align: center;
  font-size: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}

.profileTable{
  padding:20px;
  font-size: 15px;
  height: 110px;
}

.profileImage{
  width: 100px;
  margin: 10px;
}

/*general*/

.tableBackground{
  background: #2c3a47;
  padding: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inputPass{
  width:100px;
}
.hide{
  display: none;
}

.submitButton{
  background: #2c3a47;
  color: #f4f6f7;
  margin-top:5px;
  border-radius: 5px;
  height: 30px;
}

.submitButton:hover{
  background: #0c1014;
  color: #f4f6f7;
}

/*Employees*/

.employeeTable th{
  background: #3a8ae3;
  color: #f4f6f7;
  height:45px;
  padding-right: 5px;
  padding-left: 5px;
}

.employeeTable th:first-child{
  border-top-left-radius: 5px;
}

.employeeTable th:last-child{
  border-top-right-radius: 5px;
}

.employeeTable td{
  background: #f4f6f7;
  color: #2c3a47;
  height:30px;
  padding-left: 5px;
  padding-right: 5px;
}

.employeeFormCard{
  background: #f4f6f7;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
  width: 250px;
  box-shadow: 5px 5px 5px grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.employeeFormCardTitle {
  background: #2c3a47;
  height:40px;
  border: 1px solid #2c3a47;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}
.employeeUpdateTitle, .structureUpdateTitle{
  color: #f4f6f7;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
}

.AddEmployeeButton, .AddStructureButton{
  background: #f4f6f7;
  width: 50px;
  height: 40px;
  color: #2c3a47;
  float:right;
  padding-left:18px;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 5px;
}

.AddEmployeeButton:hover {
  background: #bbbbbb;
  color: #020d13;
}

.employeeForm{
  padding:10px;
}

/*And Employees*/

/*Structure*/

.structure {
  display: flex;
}

.structureCard{
  background: #efe2e2;
  width: 350px;
  border: 1px solid black;
  margin:10px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.structureCardTitle{
  background: #2c3a47;
  color: #e5e5e5;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



.structureCardContent{
  display: block;
}

.structure th{
  background: #3a8ae3;
  color: #efe2e2;
  padding:5px;
}

.structure th:first-child{
  border-top-left-radius: 5px;
}

.structure th:last-child{
  border-top-right-radius: 5px;
}

.structure td{
  background: #efe2e2;
  padding:5px;
}

.structureForm{
  margin-bottom: 10px;
  padding:10px;
}


.structureFormCardTitle{
  background: #efe2e2;
  color: #2c3a47;
  height:50px;
}

.structureFormTitle{
  background: #efe2e2;
  color: #2c3a47;
  height:31px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  border: 2px solid #2c3a47;
}

.addStructureButton{
  background: #f4f6f7;
  width: 50px;
  height: 40px;
  color: #2c3a47;
  float:right;
  padding-left:18px;
  margin-top: 2px;
  border-top: 0;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
}

.addStructureButton:hover{
  background: #2c3a47;
  color: #f4f6f7;
}

.structureForm input{
  width:320px;
  height:20px;
}

.structureForm option{
  height: 20px;
}

/*Benefit Card*/

.benefitCard{
  display: flex;
}

.benefitCardCard{
  background: #2c3a47;
  color: #f4f6f7;
  float: left;
  width: 400px;
  height:250px;
  margin: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.benefitCardCardTitle{
  text-align: center;
  font-size: 25px;
  margin:20px;
}

.benefitCardCardLine{
  width: 100%;
  height: 30px;
  background: #bbbbbb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.benefitCardCardSn{
  font-size: 20px;
}

.benefitCardFullName{
  font-size: 20px;
  float:right;
  margin-top:70px;
}

.benefitCardTable{
  background: #bbbbbb;
  margin-top: 25px;
  padding: 10px;
}

.benefitCardTable th{
  background: #3a8ae3;
  margin:2px;
}

.benefitCardTable td{
  background: #3a8ae3;
  margin:2px;
}



