body {
  margin-top: 0;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.leftSize {
    float:left;
}

.rightSize {
    height: 200px;
    float: right;
    width: 200px;
}

  .schedule{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .left{
    width: 100px;
    float: left;
  }



  .schedule .dayHeader{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    float:left;
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.emptyDay {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.morning{
  background-color: bisque;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.afternoon{
  background-color: cadetblue;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.night{
  background-color: #303245;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 8px;
  font-weight: bold;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule .detailsHeader{
  width: 40px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule .details{
  width: 40px;
  height: 20px;
  border: 1px solid black;
  float:left;
  margin-right: 1px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
