<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Employees</title>
</head>
<body>
<main>
    <h1>All Employees</h1>
    <div class = "leftSize">
    <table th:if="${employees.size() > 0}">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>About</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td><a th:href="@{/about-employee/{employee}(employee=${employee.getId})}">About</a></td>
            <td>
                <form method="get" th:action="@{/delete-employee/{id}(id=${employee.getId})}">
                    <button type = "submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
    </div>
    <div class = "form">

        <form th:action="@{/add-employee}" method="post">
            <div>Add new Employee</div>
            <div>
                <div></div>
                <label for="firstName">First name:</label>
                <input id="firstName" type="text" placeholder=" " name="firstName">
            </div>
            <div>
                <label for="lastName">Last name:</label>
                <input id="lastName" type="text" name="lastName" placeholder=" ">
            </div>

            <div>
                <label for="position">Position name:</label>
                <input id="position" list="positionsList" name="position">
                <datalist id="positionsList">
                    <option th:each="position :${positionsList}" th:value="${position}" th:text ="${position}">
                </datalist>
            </div>

            <div>
                <label for="separatedName">Seperated name:</label>
                <input id="separatedName" list="separatedList" name="separatedName">
                <datalist id="separatedList">
                    <option th:each="separate :${separatedList}" th:value="${separate}" th:text ="${separate}">
                </datalist>
            </div>

            <div>
                <label for="assignment">Assignment:</label>
                <input id="assignment" list="assignmentsList" name="assignment">
            </div>
            <datalist id="assignmentsList">
                <option th:each="assignment :${assignmentsList}" th:value="${assignment}" th:text ="${assignment}">
            </datalist>
            <button type="submit">Add employee</button>
        </form>
    </div>
</main>

</body>
</html>