<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Employees</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>
<main>
        <div class="structureCardTitle">Employees</div>
<!--Employees Table-->
        <div class="employeesTableBackground">
            <table class="employeeTable" th:if="${employees.size() > 0}">
<!--Table Header-->
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Position</th>
                    <th>Separate</th>
                    <th>Assignment</th>
                    <th>BenefitCard S/N</th>
                    <th>About</th>
                    <th>Update</th>
                    <th th:if="${!loginUserRole.equals('ROLE_LEVEL1')}">Delete</th>
                </tr>
                </thead>
                <tbody>
<!--Table Body-->
                <tr th:each="employee : ${employees}">
    <!--Username-->
                    <td th:text="${employee.getUsername()}">leoDik</td>
    <!--Firstname-->
                    <td th:text="${employee.getFirstName()}">Leonardo</td>
    <!--Lastname-->
                    <td th:text="${employee.getLastName()}">Dicaprio</td>
    <!--Position-->
                    <td th:if="${employee.getPosition() != null}"
                        th:text="${employee.getPosition().getTitle()}">Worker</td>
    <!--Separate-->
                    <td th:if="${employee.getSeparate() == null}"></td>
                    <td th:if="${employee.getSeparate() != null}"
                        th:text="${employee.getSeparate().getTitle()}">Actor</td>
    <!--Assignment-->
                    <td th:if="${employee.getAssignment() == null}" ></td>
                    <td th:if="${employee.getAssignment() != null}"
                        th:text="${employee.getAssignment().getHoursPerWeek()}">40</td>
    <!--BenefitCard-->
                    <td th:if="${employee.getBenefitCard() == null}"></td>
                    <td th:if="${employee.getBenefitCard() != null}">
                        <a th:href="@{/benefit-card/{employeeId}(employee=${employee.getId})}"
                           th:text="${employee.getBenefitCard().getSerialNumber()}">125896584</a>
                    </td>
    <!--About-->
                    <td>
                        <form th:action="@{/about-employee/{employee}(employee=${employee.getId})}">
                            <button type="submit">About</button>
                        </form>
                    </td>
    <!--Update-->
                    <td>
                        <form th:action="@{/get-employee-id-set-isUpdate-as-true/{id}(id = ${employee.getId()})}">
                            <button class ="updateButton" type="submit">Update</button>
                        </form>
                    </td>
    <!--Delete-->
                    <td th:if="${!loginUserUsername.equals(employee.getUsername())}">
                        <form method="get" th:action="@{/delete-employee/{id}(id=${employee.getId})}">
                            <button class="deleteButton" type = "submit">Remove</button>
                        </form>
                    </td>

                    <td th:if="${loginUserRole.equals(employee.getUsername())}"
                        th:text="${'No Permission'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form th:action="@{/set-isUpdate-as-False}">
                <button class="submitButton" type="submit">Add New Employee</button>
            </form>
        </div>

<!--Form card-->
        <div th:class="${employeeFormCssClass}">
            <div>
                <form th:action="@{/close-employee-form}">
                    <button class="closeButton" type="submit">x</button>
                </form>
            </div>

        <div id="updateEmployee">

            <div class="employeeFormCardTitle">
<!--Title form-->
                <div class="employeeUpdateTitle"
                     th:text="${isUpdate} ? 'Update Employee' : 'Add Employee'">
                    Update
                </div>

            </div>
<!--Form-->
            <form class="employeeForm"
                  th:action="@{/add-update-employee}" method="post">
<!--Username Label-->
                <div th:if="${!isUpdate ||
                            !loginUserUsername.equals(username)}">
                    <label for="update-username">Username: </label>
                    <br>
                    <input id="update-username" type="text" name ="username"
                           th:class="${isExistUserNameCssClass}"
                           th:value="${username} ? ${username} : ''" >
                </div>
<!--Password Label-->
                <div>
                    <label for="update-password">Password: </label>
                    <br>
                    <input id="update-password" type="password" name ="password"
                           th:value="${isUpdate} ? ${password} : ''"><br>
                </div>
<!--hide login user own options-->
                <div th:if="${!isUpdate || !loginUserUsername.equals(username)}">
<!--Firstname Label-->
                    <div>
                        <label for="update-firstName">First name:</label>
                        <br>
                        <input id="update-firstName" type="text" placeholder=" " name="firstName"
                               th:value="${isUpdate} ? ${firstName} : ''">
                    </div>
<!--Lastname Label-->
                    <div>
                        <label for="update-lastName">Last name:</label>
                        <br>
                        <input id="update-lastName" type="text" name="lastName"
                               th:value="${isUpdate} ? ${lastName} : ''">
                    </div>
<!--BenefitCard Label-->
                    <div>
                        <label for="serialNumber"> BenefitCard s/n:</label>
                        <br>
                        <input id="serialNumber"
                               type ="text"
                               name ="benefitCardSn"
                               th:class="${isExistBenefitCardSnCssClass}"
                               th:value="${isUpdate && benefitCardSn != null } ? ${benefitCardSn.getSerialNumber()} : ''" min="100000000" max ="999999999">
                    </div>
<!--Position Select Label-->
                    <div>
                        <label for="update-positionSelect">Position name:</label>
                        <br>
                        <select name="position" id="update-positionSelect" required>
                            <option
                                    th:value="${isUpdate && employeeId != null}? ${position.id} :''"
                                    th:disabled="${isUpdate == false} ? ${true} : ${false}"
                                    th:text="${isUpdate && employeeId != null}? ${position.getTitle()} : 'Select Position'"
                                    th:selected="true">
                                Select Seperated
                            </option>
                            <option th:each="position :${positionsList}"
                                    th:value="${position.id}" th:text ="${position.getTitle()}"></option>
                        </select>
                    </div>
<!--Separate Select Label-->
                    <div>
                        <label for="update-separateSelect">Seperated name:</label>
                        <br>
                        <select name="separate" id="update-separateSelect" required>
                            <option
                                    th:value="${isUpdate && employeeId != null}? ${separate.id} :''"
                                    th:disabled="${isUpdate == false} ? ${true} : ${false}"
                                    th:text="${isUpdate && employeeId != null}? ${separate.getTitle()} : 'Select Seperated'"
                                    th:selected="true">
                                Select Seperated
                            </option>
                            <option th:each="separate :${separatedList}" th:value="${separate.id}" th:text ="${separate.getTitle()}"></option>
                        </select>
                    </div>
<!--Assignment Select Label-->
                    <div>
                        <label for="update-assignmentSelect">Assignment:</label>
                        <br>
                        <select name="assignment" id="update-assignmentSelect" required>
                            <option
                                    th:value="${isUpdate && employeeId != null}? ${assignment.id} :''"
                                    th:disabled="${isUpdate == false} ? ${true} : ${false}"
                                    th:text="${isUpdate && employeeId != null} ? ${assignment.hoursPerWeek} : 'Select Assignment'"
                                    th:selected="true">
                                Select Seperated
                            </option>
                            <option th:each="assignment :${assignmentsList}"
                                    th:value="${assignment.id}"
                                    th:text ="${assignment.hoursPerWeek}"></option>
                        </select>
                    </div>
<!--Payment Select Label-->
                    <div>
                        <label for="update-paymentPerHour">Payment: </label><br>
                        <input id="update-paymentPerHour" type="number" name="paymentPerHour"
                               placeholder="0.0/h"
                               th:value="${isUpdate} ? ${paymentPerHour} : ''">
                    </div>

                </div>
<!--Submit button-->
                <button th:classappend="${isUpdate} ? 'updateButton' :'submitButton'"
                        type="submit"
                        th:text="${isUpdate} ? 'Update Employee' : 'Add Employee'">Update employee</button>

            </form>
        </div>
        </div>
</main>
</body>
</html>