<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Employees</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>
<main>
    <h1>All Employees</h1>
    <div class = "leftSize">
    <table th:if="${employees.size() > 0}">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>About</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td><a th:href="@{/about-employee/{employee}(employee=${employee.getId})}">About</a></td>
            <td>
                <form method="get" th:action="@{/delete-employee/{id}(id=${employee.getId})}">
                    <button type = "submit">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
    </div>
    <div class = "form">

        <form class="rightSize" th:action="@{/add-employee}" method="post">
            <div>Add new Employee</div>
            <div>
                <label for="firstName">First name:</label>
                <input id="firstName" type="text" placeholder=" " name="firstName">
            </div>
            <div>
                <label for="lastName">Last name:</label>
                <input id="lastName" type="text" name="lastName" placeholder=" ">
            </div>

            <div>
                <label for="positionSelect">Position name:</label>
                <select name="position" id="positionSelect" required>
                    <option value="" disabled selected>Select position</option>
                    <option th:each="position :${positionsList}" th:value="${position.getTitle()}" th:text ="${position.getTitle()}"></option>
                </select>
            </div>

            <div>
                <label for="separateSelect">Seperated name:</label>
                <select name="separatedName" id="separateSelect" required>
                    <option value="" disabled selected>Select Seperated</option>
                    <option th:each="separate :${separatedList}" th:value="${separate.getTitle()}" th:text ="${separate.getTitle()}"></option>
                </select>
            </div>

            <div>
                <label for="assignmentSelect">Assignment:</label>
                <select name="assignment" id="assignmentSelect" required>
                    <option value="" disabled selected>Select Assignment</option>
                    <option th:each="assignment :${assignmentsList}" th:value="${assignment.hoursPerWeek}" th:text ="${assignment.hoursPerWeek}"></option>
                </select>
            </div>
            <div>
                <label for="paymentPerHour">Payment: </label><span>/hour</span>
                <input id="paymentPerHour" type="number" name="paymentPerHour" placeholder=" ">
            </div>
            <button type="submit">Add employee</button>
        </form>
    </div>
</main>

</body>
</html>