<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>

<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>

<main>
    <h1>Home Page</h1>

    <div class="profile" th:if="${loginUser != null}">
        <div class="profileCard">
            <h2>My Profile</h2>
            <img class="profileImage" th:src="@{'/images/profile.png'}" alt="profile picture">
            <table>
                <tr>
                    <th>Fullname: </th>
                    <td th:text="${loginUser.fullName}">Firstname Lastname</td>
                </tr>
                <tr>
                    <th>Position: </th>
                    <td th:text="${loginUser.getPosition().getTitle()}">Position name</td>
                </tr>
                <tr>
                    <th>Separate: </th>
                    <td th:text="${loginUser.getSeparate()}">Separate name</td>
                </tr>
                <tr>
                    <th>Assignment: </th>
                    <td th:text="${loginUser.getAssignment()}">Assignment name</td>
                </tr>

            </table>
        </div>
        <div class="profileCard">
            <h2>Login</h2>
            <img class="profileImage" th:src="@{'/images/login.png'}" alt="security image">
            <table>
                <tr>
                    <th>Username: </th>
                    <td th:if="${loginUser != null }"
                        th:text="${loginUser.getUsername()}">
                        Username
                    </td>
                </tr>
                <tr>
                    <th>Password: </th>
                    <td th:if="${loginUser != null}">
                        <form th:action="@{/update-password}" method="post">
                            <label for="update-password"></label><br>
                            <input id="update-password" type="password" name ="password">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="profileCard" th:if="${loginUser != null}">
            <h2>Benefit Card</h2>

            <img class="profileImage" th:src="@{'/images/benefit-card.png'}" alt="benefit card">
            <table>
                <tr>
                    <th>Benefit Card: </th>
                    <td th:if="${loginUser.benefitCard != null }"
                        th:text="${loginUser.getBenefitCard().getSerialNumber()}">
                        Serial number
                    </td>
                    <td th:if="${loginUser.benefitCard == null }"
                        th:text="${'No set Benefit Card'}">
                    </td>
                </tr>
                <tr>
                    <th>Credit: </th>
                    <td th:if="${loginUser.benefitCard != null}"
                        th:text="${loginUser.getBenefitCard().getPoints()}">
                        2000
                    </td>
                    <td th:if="${loginUser.benefitCard == null}"
                        th:text="${'No set Benefit Card'}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>