<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>

<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>

<main>
    <h1>Home Page</h1>

    <div class="profile" th:if="${loginUser != null}">
        <div class="profileCard">

            <div class="profileTitle">
                <img class="profileImage"
                     src="../static/images/profile.png"
                     th:src="@{'/images/profile.png'}" alt="profile picture">
                <div th:text="${loginUser.fullName}">Leonardo Dikabrio</div>
            </div>


            <table class="profileTable">
                <tr>
                    <th>Position: </th>
                    <td th:text="${loginUser.getPosition().getTitle()}">Position name</td>
                </tr>
                <tr>
                    <th>Separate: </th>
                    <td th:text="${loginUser.getSeparate()}">Separate name</td>
                </tr>
                <tr>
                    <th>Assignment: </th>
                    <td th:if="${loginUser.getAssignment() != null}"
                        th:text="${loginUser.getAssignment().getAssignmentTitle() +
                    ' / '
                    + loginUser.getAssignment().getHoursPerWeek()}">Assignment name</td>
                </tr>

            </table>
        </div>
        <div class="profileCard">
            <div class="profileTitle">
            <img class="profileImage"
                 src="../static/images/login.png"
                 th:src="@{'/images/login.png'}" alt="security image">
            <div>Login</div>
            </div>

            <table class="profileTable">
                <tr>
                    <th>Username: </th>
                    <td th:if="${loginUser != null }"
                        th:text="${loginUser.getUsername()}">
                        Username
                    </td>
                </tr>
                <tr>
                    <th>Password: </th>
                    <td th:if="${loginUser != null}">
                        <form th:action="@{/update-password}" method="post">
                            <label class="hide" for="update-password"></label>
                            <input class ="inputPass" id="update-password" type="password" name ="password">
                            <button class="updateButton" type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="profileCard" th:if="${loginUser != null}">
            <div class="profileTitle">
                <img class="profileImage"
                     src="../static/images/benefit-card.png"
                     th:src="@{'/images/benefit-card.png'}" alt="benefit card">
                <div>Benefit Card</div>
            </div>

            <table class = "profileTable">
                <tr>
                    <th>Benefit Card: </th>
                    <td th:if="${loginUser.benefitCard != null }"
                        th:text="${loginUser.getBenefitCard().getSerialNumber()}">
                        Serial number
                    </td>
                    <td th:if="${loginUser.benefitCard == null }"
                        th:text="${'No set Benefit Card'}">
                    </td>
                </tr>
                <tr>
                    <th>Credit: </th>
                    <td th:if="${loginUser.benefitCard != null}"
                        th:text="${loginUser.getBenefitCard().getPoints()}">
                        2000
                    </td>
                    <td th:if="${loginUser.benefitCard == null}"
                        th:text="${'No set Benefit Card'}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>