<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>schedule</title>
</head>
<body>

<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>

<main>
    <h1>Employees Schedule</h1>
<!--Month schedule select -->
    <div class = "schedule">
        <form th:action = "@{/month-list/}" method="get">
            <label for="daymonth">Select month:</label>
            <input type="month" id="daymonth" name="month">
            <input type="submit">
        </form>

<!--Filter employee schedule list-->
        <form th:action="@{/filter-employee-list}" method="get">
<!--Filter by username             -->
            <label for="filteredFirstName">First name: </label>
            <input type="text" id="filteredFirstName" name="employeeFirstName">
<!--Filter by lastname-->
            <label for="filteredLastName">Last name: </label>
            <input type="text" id="filteredLastName" name="employeeLastName">
<!--Filter by separate-->
            <label for="separateSelect">Seperated name:</label>
            <select name="employeeSeparate" id="separateSelect" required>
<!--                Option if no selected-->
                <option th:value = "${null}"
                        th:text="${'All Separates'}">
                    All Separates
                </option>
                <option th:each="separate :${separatedList}"
                        th:value="${separate.getId()}"
                        th:text ="${separate.getTitle()}"></option>
            </select>
<!--Filter by position-->
            <label for="positionSelect">Position name:</label>
            <select name="employeePosition" id="positionSelect" required>
                <!--                Option if no selected-->
                <option th:value="${null}"
                        th:text="${'All Positions'}">
                    All Positions
                </option>
                <option th:each="position :${positionsList}"
                        th:value="${position.getId()}"
                        th:text ="${position.getTitle()}"></option>
            </select>
            <input type="submit">
        </form>
<!--Cancel filtering and set original employee list         -->
        <form th:action="@{/disable-filter}">
            <button type="submit">Cancel</button>
        </form>

<!--Schedule table        -->
        <table class="tableBackground">
<!--Table Header            -->
            <thead class="scheduleHeader">
            <tr>
                <th class= "thMonth" colspan="2" th:if="${selectedMonth != null}"
                    th:text="${selectedMonth.getMonth()}">
                    Month
                </th>
                <div th:each="day : ${daysOfMonth}" th:object="${day}">
                    <th class="thDays" th:text="${day.getDayOfMonth()}">
                        1
                    </th>
                </div>
                <th colspan="2"></th>
            </tr>

            <tr>
                <th class="thFulName">
                    <a th:href="@{/order-by-firstname}">Employee</a>
                </th>
                <th class="thPosition">
                    <a th:href="@{/order-by-position-title}">Position</a>
                </th>
                <div th:each ="dayOfWeek: ${selectedMonthDayWeekShort}" th:object="${dayOfWeek}">
                    <th th:classappend="${dayOfWeek.equals('Sat') || dayOfWeek.equals('Sun')?'weekDay' : 'thDaysOfWeek'}"
                        th:text="${dayOfWeek}">
                        1
                    </th>
                </div>
                <th class ="thDetails">Hours</th>
                <th class ="thDetails">Shifts</th>
            </tr>
<!--Table body-->
            </thead>
            <tbody class="scheduleBody">


            <div th:each = "employeeSchedule : ${monthlyEmployeesSchedule}">

                <tr th:if="${employeeSchedule.key.getFirstName() != null && employeeSchedule.key.getLastName() != null}">

                    <td class="tdFulName" th:text ="${employeeSchedule.key.fullName}">Leonardo Dicaprio</td>

                    <td class="tdPosition" th:if ="${employeeSchedule.key.getPosition() != null}"
                        th:text = "${employeeSchedule.key.getPosition().getSortTitle()}">Manager</td>

                    <td th:if ="${employeeSchedule.key.getPosition() == null}"
                        th:text = "${'No Set'}"></td>

                    <div th:each="eSchedule, status : ${employeeSchedule.value}" th:object="${eSchedule}">

<!--days button if is empty-->
                        <td th:if="${eSchedule.getShiftStart() == null}">

                            <form method="get" th:action="@{/select-employee/{employeeUsername}/select-day/{dayOfMonth} (dayOfMonth = ${status.index+1}, employeeUsername =${employeeSchedule.key.getUsername()})}">
                                <button class="tdButtonEmpty" type="submit"></button>
                            </form>

                        </td>
<!--days button if is not empty-->
                        <td th:if="${eSchedule.getShiftStart() != null}">
                            <form method="get"
                                  th:action="@{/select-employee/{employeeUsername}/select-day/{dayOfMonth} (dayOfMonth = ${status.index+1}, employeeUsername =${employeeSchedule.key.getUsername()})}">
                                <button class="tdButtonMorning"
                                        type="submit"
                                        th:classappend="${eSchedule.getShiftStart().getHour() >= 5 && eSchedule.getShiftEnd().getHour() <= 16}? 'tdButtonMorning': 'tdButtonAfternoon'"
                                        th:text ="${eSchedule.getDailySchedule()}">14:00 20:00</button>
                            </form>
                        </td>
                    </div>
                    <div th:each="hours : ${monthlyEmployeesTotalHours}"
                         th:if="${hours.getKey() == employeeSchedule.getKey()}">
                        <td class ="tdDetails" th:text ="${hours.getValue().getTotalHours()} + '/' + ${hours.getValue().getMonthlyFullTimeHours()}"></td>
                        <td class ="tdDetails" th:text ="${hours.getValue().getShifts()}"></td>
                    </div>
                </tr>
            </div>
            </tbody>
        </table>
    </div>



<!-- add Schedule-->
    <div id="addSchedule" th:class="${scheduleFormClass}">

        <div class = "topLine">
            <div>
                <form th:action="@{/close-schedule-form}" method="get">
                    <button class="closeButton" type="submit">X</button>
                </form>
            </div>
            <div class = "scheduleTitle">Add Schedule</div>
        </div>

        <div class="employeeDateSchedule">
            <div class = "addScheduleEmployee"
                 th:if="${selectedEmployee != null}"
                 th:text ="${selectedEmployee.getFullName()}">
                Firstname Lastname
            </div>

            <div class="addScheduleDate"
                 th:if="${selectedDay != null}"
                 th:text = "${selectedMonth.withDayOfMonth(selectedDay.getDayOfMonth())}">
                2024-12-26
            </div>
        </div>

<!--Favorite Shifts-->
        <div class="favoriteShifts">
            <div th:each="favoriteShift : ${favoriteShiftList}">
                <div th:if="${favoriteShift.getShiftStart() != null && favoriteShift.getShiftEnd() != null}">
                    <form method="post" th:action="@{/add-schedule-from-favorite/{shiftId} (shiftId = ${favoriteShift.getId()})}">
                        <button type="submit" th:text="${favoriteShift.getFormatedTime()}" th:class="${'favoriteShift'+favoriteShift.getShiftName()+'Button'}"></button>
                    </form>
                </div>
            </div>
        </div>

<!--Form Schedule-->
        <div class="formSchedule">

                <form th:action="@{/add-schedule}" method="post">
                <div>
                    <div>Start Shift</div>
    <!--input start shift hour                -->
                    <div class="time">
                        <label for="shiftStartHours"></label>
                        <input class="timeHours"
                               id="shiftStartHours"
                               type="number"
                               name="shiftStartHour"
                               th:value="${selectedSchedule == null}? '00' : ${selectedSchedule.getShiftStart().getHour()}"
                               min="0" max="23" step="1">
    <!--input start shift Minutes                -->
                        <label for="shiftStartMinutes">:</label>
                        <input class="timeMinutes"
                               id="shiftStartMinutes"
                               type="number"
                               name="shiftStartMinutes"
                               th:value="${selectedSchedule == null}? '00' : ${selectedSchedule.getShiftStart().getMinute()}"
                               min="0" max="59" step="1">
                    </div>

    <!--input End shift hour                -->
                    <div>End Shift</div>
                    <div class="time">
                        <label for="shiftEndHour"></label>
                        <input class="timeHours"
                               id="shiftEndHour"
                               type="number"
                               name="shiftEndHour"
                               th:value="${selectedSchedule == null}? '00' : ${selectedSchedule.getShiftEnd().getHour()}"
                               min="0" max="23" step="1">
    <!--input End shift minutes                -->
                        <label for="shiftEndMinutes">:</label>
                        <input class="timeMinutes"
                               id="shiftEndMinutes"
                               type="number"
                               name="shiftEndMinutes"
                               th:value="${selectedSchedule == null}? '00' : ${selectedSchedule.getShiftEnd().getMinute()}"
                               min="0" max="59" step="1">
                    </div>
                </div>
                <div>
                    <label for="isPresent">Present</label>
                    <input id="isPresent"
                           type="checkbox"
                           name="isPresent"
                           th:value="true">
                </div>
                <button class="submitButton" type="submit">Add Schedule</button>
            </form>
            <form th:if="${selectedSchedule != null}"
                    th:action="@{/delete-employee-day-shift}">
                <button class="deleteButton" type="submit">Delete</button>
            </form>

        </div>
    </div>
    <!--                            End Add Schedule-->
</main>
<script>
    // Get the current month
    const now = new Date();
    const currentMonth = now.toISOString().substring(0, 7);
    document.getElementById("daymonth").value = currentMonth;

</script>
</body>
</html>