<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Structure</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/navbar :: bavigation-bar}"></nav>
</header>
<main>
    <h1> Structure Schedule</h1>
    <h2>Logistics</h2>
    <h3>Assignments</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Assignment</th>
            </tr>
        </thead>
        <body>
            <tr th:each="assignment : ${assignments}">
                <td th:text="${assignment.getAssignmentTitle()}"></td>
                <td th:text="${assignment.getHoursPerWeek()}"></td>
            </tr>
        </body>
    </table>

    <div>
        <form></form>
    </div>
</main>
</body>
</html>